extends: default.liquid

title: Regular Expressions
---

<h1 id="this-is-an-article">This is an article!</h1>
<p>This is some text!</p>
<ul>
<li>This is a list item</li>
<li>This is another list item!</li>
</ul>
<p>First we will examine what regular expressions are. Then we will show some uses for them.</p>
<p>Some examples to consider would be the following. * checking if something is in a set! * Not emails, but maybe last names in spacing? * Or addresses? * Or something on an alphabet that doesn't use characters? so we can stress the generality of the pure definition later? Perhaps something like trains? * Lol we could have half life 2 inspired interlude with train types! Finite sets of cars! Civilian and combine! But also the WAY THINGS WORK</p>
<p>Then we will go into more formal detail about what they are. First thing would regular languages. Regular expressions are then presented as a language whose sentences are valid regular anguages. Sentences in the instructions that make regular exressions.<br />
* A formal defintions in terms of an alphabet and the basic operations * Some of the usual <span class="math inline"><em>a</em>, <em>b</em>, <em>c</em></span> or <span class="math inline">0, 1</span> examples, but make them connect to other things, like Huffman codes<a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a></p>
<p>From there we will demonstrate and fully explore the &quot;high level&quot; features that we want. Things like character classes. These are characters that</p>
<p><br /><span class="math display"><em>x</em><sub>5</sub> = <em>p</em>(<em>x</em><em>d</em><em>f</em><em>d</em><sup><em>s</em></sup><em>d</em><em>f</em><em>s</em><em>d</em>)</span><br /></p>
<section class="footnotes">
<hr />
<ol>
<li id="fn1"><p>Huffman codes have a special ordering. How do we want to reference them? Would be sweet to have links to other cool articles and then link them, but also have a page of linked pages, could have an auto generated pages thing goin on, with a sweet expanding tree like interface. That would be sooooo dope.<a href="#fnref1">↩</a></p></li>
</ol>
</section>

