extends: default.liquid

title: ThermalSpan
logo: true
---
<div id="dark-div">
    <h2>Posts</h2>
</div>
    <div>
    {% for post in posts %}
      <div>
        <h4><a href="{{post.path}}">{{ post.title }}</a></h4>
      </div>
    {% endfor %}
    </div>
</div>
