extends: default.liquid

logo: true
---
{% include '_includes/env.liquid' %}
<div>
    Email: russell.w.bentley@icloud.com
    Github:
	
	I'm also on twitter.
    <a href="https://twitter.com/ThermalSpan" class="twitter-follow-button" data-show-count="false">Follow @ThermalSpan</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    You can also get my resume <a href="{{ base_url }}/pdfs/BentleyRussellResume.pdf">resume</a>
</div>
